#codigo {
	font-size: medium;
	border: 1px solid #007dc3
}
body {
	margin: 0;
	background: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #646464
}
.tableAcs {
  border-spacing: 2px;
  border-collapse: separate;
  width: 350px;
}
.tdAcs{
    background: #D9D9D9;    
    padding: 2px;
}
.containerAcs {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.text-mutedAcs {
  color: #404040;
  font-weight: bold;
}
.text-mutedGrayAcs {
  color: #646464;
}
.text-mutedInfoAcs {
  color: #337ab7;
}
.text-mutedErrorAcs {
  color: red;
  font-weight: bold;
}
.text-mutedUnderlineAcs {
  color: #404040;
  text-decoration: underline;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.small {
  font-size: 85%;
}
.btn-primaryAcs {
  color: white;
  background-color: #A3A8A3;
  border-color: #A3A8A3;
  border-radius: 5px;
}
.btn-warningAcs {
  color: black;
  background-color: #D9D9D9;
  border-color: #D9D9D9;
  border-radius: 5px;
}
.error {
	color: red;
	font-family: Arial, Helvetica, sans-serif;
}
.centerDivAcs {
    width: 60%;
    height: 200px;
    margin: 0 auto;
    background-color: white;
}
.aAcs {
    color: #646464;
    text-decoration: none;
}